@*
* This template takes a single argument, a String containing a pageName.
*@
@(pageName: String)

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>HelpSite Club (helpsite.club)</strong>
                </h4>
                <p>New Delhi
                    <br>INDIA - 110092</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> (+91) 9718788384</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:helpsite@@consultant.com">helpsite@@consultant.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a target="_blank" href="https://www.facebook.com/GSTHelpSite/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; HelpSite Club (helpsite.club) 2018</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>