@*
* This template takes a single argument, a String containing a pageName.
*@
@(pageName: String)

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>HelpSite Club</h1>
        <h3>Let's help you to grow your business.</h3>
        <br>
        <a href="/knowledge" class="btn btn-danger btn-lg">Knowledge HelpSite</a>
        <a href="/business" class="btn btn-info btn-lg">Business HelpSite</a>
        <a href="/hiring" class="btn btn-warning btn-lg">Hiring HelpSite</a>
        <a href="/forum" class="btn btn-default btn-lg">Public Forum</a>
        <br>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>
