@*
* This template takes a single argument, a String containing a pageName.
*@
@(pageName: String)

<!-- ===== SCRIPTS ===== -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="@routes.Assets.versioned("templates/qubico/js/libs/jquery-1.9.1.min.js")">\x3C/script>')</script>

<script src="@routes.Assets.versioned("templates/qubico/js/libs/bootstrap.min.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.easing.1.3.min.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.scrollto.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.flexslider.min.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.fitvids.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.fittext.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/waypoints.min.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.countTo.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.easypiechart.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.sequence-min.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.backstretch.min.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/jquery.colorbox-min.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/contact.js")"></script>
<script src="@routes.Assets.versioned("templates/qubico/js/qubico.js")"></script>
