@*
* This template takes a single argument, a String containing a pageName.
*@
@(pageName: String)

<!-- ===== Title and Meta Tags ===== -->
<meta charset="utf-8">
<title>HelpSite | @pageName</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- ==============================================
Favicons
=============================================== -->
<link rel="shortcut icon" href="@routes.Assets.versioned("templates/qubico/assets/favicon.ico")">
<link rel="apple-touch-icon" href="@routes.Assets.versioned("templates/qubico/assets/apple-touch-icon.png")">
<link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("templates/qubico/assets/apple-touch-icon-72x72.png")">
<link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("templates/qubico/assets/apple-touch-icon-114x114.png")">

<!-- =====	CSS ===== -->
<link rel="stylesheet" href="@routes.Assets.versioned("templates/qubico/css/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("templates/qubico/css/font-awesome.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("templates/qubico/css/flexslider.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("templates/qubico/css/sequencejs-qubico.css")" />
<link rel="stylesheet" href="@routes.Assets.versioned("templates/qubico/css/colorbox.css")" />
<link rel="stylesheet" href="@routes.Assets.versioned("templates/qubico/css/qubico.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("templates/qubico/css/qubico-cyan.css")">


<!-- ==============================================
Fonts
=============================================== -->
<link href='http://fonts.googleapis.com/css?family=Dosis:600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900' rel='stylesheet' type='text/css'>

<!-- ===== JS ===== -->

<!--[if lt IE 9]>
<script src="@routes.Assets.versioned("templates/qubico/js/respond.min.js")"></script>
<![endif]-->

<script type="text/javascript" src="@routes.Assets.versioned("templates/qubico/js/libs/modernizr.min.js")"></script>